

.skillsHeader {
    display: flex;
    width:100%;
    /* border: 1px solid red; */
    justify-content: right; 
    padding-right: 10%;
}

.skillsHeader h2 {   
    font-family: Pacifico ,serif;
    font-style: normal;
    font-weight: bold;
    font-size: 4.5rem;
    text-align: right;
    opacity: 0.3;
    
}


.skill--scroll {
    width: 100%;
    margin: 0 2rem;
}


.skill--box {
    background: #a71f1f;
    box-shadow: rgba(228, 238, 189, 0.25) 0px 50px 100px -20px, rgba(215, 214, 187, 0.3) 0px 30px 60px -30px, rgba(72, 149, 226, 0.444) 0px -2px 6px 0px inset;
    border-radius: 10px;
    width: 160px;
    height: 160px;
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    transition: 300ms ease-in-out;
    color:#a71f1f;
}

.skill--box:hover  {
    transform: scale(1.15);
}


.skill--box > img {
    height: 50px;
    }


.skill--box h3 {
    font-family: Big Shoulders Text;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    margin-top: 0.5rem;
}


.marquee {
    padding: 3rem 0;
}


@media (min-width: 992px) and (max-width: 1380px) {
    
    .skillsContainer {
        padding: 1.5rem;
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 800px) {
    
    .skillsContainer {
        padding: 0.5rem;
    }
    .skillsHeader h2 {
        font-size: 3rem;
    }

    .skill--scroll {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    .skill--box {
        width: 135px;
        height: 135px;
        margin: 1.2rem;
        padding: 1rem 1rem;
    }

    .skill--box > img {
        height: 40px;
    }

    .skillsHeader h2 {
        font-size: 2.5rem;
    }

    .skill--box h3 {
        font-size: 18px;
        margin-top: 1rem;
    }
}
