.i-name{
  display: flex;
  flex-direction: column;
  text-align: left;
}

  .i-name > :nth-child(2){
     font-weight: bold;  
  }
  .i-name > :nth-child(2):hover{
   content: 'INDIAN';    
   color: brown; 
  }

  .i-name > :nth-child(3) {     color: rgb(161, 160, 153);   }
    .i-name > :nth-child(4) {
      font-weight: 100;     
      margin-top: 30px;
        }
    