.App {
  text-align: center;
  background-color: #282c34;
  
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: mymove 4s infinite;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
/* @keyframes mymove {
    0% {background-color: #282c34 }
    25% {background-color: rgb(90, 79, 79) } 
    50% {background-color: #282c34 }
    75% {background-color: black } 
  
   100% {background-color: #282c34} 
 
  
} */


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* my classses */
.container{ 
  /* scroll-snap-type: y mandatory; */
  overflow-y: hidden;
}
/* .container>:nth-child(1){ 
  scroll-snap-align: start;
}
.container>:nth-child(2){  
  scroll-snap-align: start;
}
.container>:nth-child(3){ 
  scroll-snap-align: start;
}
.container>:nth-child(4){  
  scroll-snap-align: start;
}
.container>:nth-child(5){  
  scroll-snap-align: start;
} */



/* :horizontal */
/* .container{
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;

}
.container>:nth-child(1){
  flex: none;
  width: 80vw;
  height: 100vh;
  border: 1px solid rgb(17, 226, 111);
  scroll-snap-align: start;
}
.container>:nth-child(2){
  flex: none;
  width: 80vw;
  height: 100vh;
  border: 1px solid rgb(17, 226, 111);
  scroll-snap-align: start;
}
.container>:nth-child(3){
  flex: none;
  width: 80vw;
  height: 100vh;
  border: 1px solid rgb(17, 226, 111);
  scroll-snap-align: start;
}
.container>:nth-child(4){
  flex: none;
  width: 80vw;
  height: 100vh;
  border: 1px solid rgb(17, 226, 111);
  scroll-snap-align: start;
}
.container>:nth-child(5){
  flex: none;
  width: 80vw;
  height: 100vh;
  border: 1px solid rgb(17, 226, 111);
  scroll-snap-align: start;
} */

/* <!-- HTML !--> */
/* <button class="button-48" role="button"><span class="text">Button 48</span></button> */

/* CSS */
.button-48 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
 
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}


.button-48:hover:before {
 
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}